{% extends "index.html" %}
{% block titulo %}
EDITAR ANÚNCIO
{% endblock %}
{% load l10n %}
{% block nav-bar %}
<!------------------------------------------------------------------------------------------------------------>
    <!-- content @s -->
        <div class="row my-row">
            <div class="col-12 container-create-partida">
                <div class="row col-12 safari-container card justify-content-start card-criar-partida">
                        <div class="alert alert-fill alert-secondary alert-icon header-modal crud-bar-user-header">
                            <em class="icon ni ni-plus"></em>
                            <h6>Editar Anúncio</h6>
                        </div>
                        <form id="form_partida" class="row form-group justify-content-start form-create-ADS" action="" method="post">{% csrf_token %}
                        <div class="col-12 container-input-create">
                            <h4 class="title-box-dias">
                                Dias Disponíveis:
                            </h4>
                            <div class="form-group">
                                <div class="form-check-inline container-checkbox-parametro">
                                    {{ ads_form.dias }}
                                </div>
                                {% if ads_form.dias.errors %}
                                    <div class="error-campo">
                                        {{ ads_form.dias.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ ads_form.partida }}
                                    <label class="form-label-outlined" for="{{ ads_form.partida.id_for_label }}">Partida</label>
                                </div>
                                {% if ads_form.partida.errors %}
                                    <div class="error-campo">
                                        {{ ads_form.partida.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 row container-btn-createPartida">
                                <div class="form-group button-partida">
                                <div class="form-control-wrap">
                                    <a href="/ads/" class="btn btn-danger btn-create-secondary">
                                        <em class="icon ni ni-chevron-left-round-fill icon-right"></em>
                                        <p>Voltar</p>
                                    </a>
                                </div>
                            </div>

                            <div class="form-group button-partida">
                                <div class="form-control-wrap">
                                    <button id="btn_modal_salve" class="btn btn-success btn-create-secondary" >
                                        <p>Salvar</p>
                                        <em class="icon ni ni-save-fill icon-left"></em>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}