{% extends "index.html" %}
{% block titulo %}
AFILIADOS
{% endblock %}
{% block nav-bar %}

    <!-------------------------------barra de pesquisa-------------------------------->
<!--
    <div class="row">
        <div class="col-lg-12">
            <div class="card crud-bar">
                <div class="row justify-content-center align-items-center form-group">
                    <form class="col-xs-12 col-sm-12 col-md-12 col-xl-12 row justify-content-start"  action="/jogadores/" id="form1" method="post">
                    {% csrf_token %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.nome_jogador }}
                                    <label class="form-label-outlined label-search" for="id_nome_jogador">Nome Do Jogador</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.whatsapp }}
                                    <label class="form-label-outlined label-search" for="id_whatsapp">Whatsapp</label>
                                </div>
                            </div>
                        </div>

                        <!--
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.data_inicio }}
                                    <label class="form-label-outlined label-search" for="id_data_inicio">Data Inicio</label>
                                </div>
                            </div>
                        </div>

                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.data_fim }}
                                    <label class="form-label-outlined label-search" for="id_data_fim">Data Fim</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                {{ form.partida }}
                                <label class="form-label-outlined label-search" for="id_partida">Partida</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.num_vitorias }}
                                    <label class="form-label-outlined label-search" for="id_num_vitorias">Número de Vitórias</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 container-input-search text-right form-group">
                            <button onclick=test(1) class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 justify-content-center btn btn-success btn-search form-control-lg">
                                <em class="icon ni ni-search"></em>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>-->
    <!-------------------------------------------------------------------------------->

    <!-------------------------------Cards de Status-------------------------------->
    <div class="row my-row">

        <div class="col-sm-6 col-md-6 col-lg-6 ">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos">Total Indicadores</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos">{{ afiliados.count }}</h6>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 ">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos">Total Indicados</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos">{{ indicados }}</h6>
                </div>
            </div>
        </div>

    </div>
    <!-------------------------------tabela de jogadores-------------------------------->
    <div class="row my-row">
        <div class="col-12">
            <div class="card card-table table-responsive-xl overflow-auto">
                <table id="" class="table position-relative table-content">
                    <thead class="thead-dark text-center thead-content">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Total</th>
                            <th scope="col">Usado</th>
                            <th scope="col">Disponível</th>
                            <th scope="col">Cartelas Bonus</th>
                            <th scope="col">Desbloqueio</th>
                        </tr>
                    </thead>
                    <tbody class="text-center tbody-content">
                    {% for jogador in afiliados %}
                        <tr>
                            <td scope="row">{{ jogador.codigo }} (<a href="/afiliado/{{ jogador.id }}/">Ver Extrato</a>)</td>
                            <td scope="row">{{ jogador.nome }}
                                {% if jogador.instagram %}(@{{ jogador.instagram }}){% endif %}
                            </td>
                            <td scope="row">{{ jogador.total }}</td>
                            <td scope="row">{% if jogador.usado %}{{ jogador.usado }}{% else %}0{% endif %}</td>
                            <td scope="row">{% if jogador.restante %}{{ jogador.restante }}{% else %}0{% endif %}</td>
                            <td scope="row">{% if jogador.bonus %}{{ jogador.bonus }}{% else %}0{% endif %}</td>
                            <td scope="row">{% if jogador.desbloqueio %}{{ jogador.desbloqueio }}{% else %}0{% endif %}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    </table>

            </div>
        </div>
    </div>

    <!------------------------------->

    <!--------Paginação -------->
    <div class="row my-row pagination-container">
        <div class="col-12 row justify-content-center">
            <nav aria-label="Navegação de página exemplo">
                <ul class="pagination">
                    {% if pagina_anterior > 0 %}
                    <li class="pageitem button-paginação">
                        <button class="page-link button-paginação" aria-hidden="true" onclick=test(1)>&laquo;</button>
                    </li> 
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" class="sr-only" onclick=test({{pagina_anterior}})>&lt;</button>
                    </li>
                    {%endif%}  
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação">{{ pagina_atual }}</a>
                    </li>
                    {% if ultima_pagina != pagina_atual %}
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" class="sr-only" onclick=test({{proxima_pagina}})>&gt;</button>
                    </li>  
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" aria-hidden="true" onclick=test({{ultima_pagina}})>&raquo;</button>
                    </li>
                    {%endif%}
                </ul>
            </nav>
        </div>
    </div>
    <script>
        $(document).ready( function () {
            $('#tabelaJogadores').DataTable({
                "language": {
                    "url":"https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json",
                },
                "dom": '',
                paging: false,
            });
        } );
        let clickado = false
        function test(pagina){
            if(clickado == false){
                $('#form1').attr('action', $('#form1').attr('action') +'?pagina='+parseInt(pagina));
                $('#form1').submit();   
                clickado = true
            }
        }
    </script>
    



<!-- content @e -->

{% endblock %}