{% extends "nav-bar.html" %}
{% block titulo %}
CARTELAS
{% endblock %}
{% block nav-bar %}
<!-- content @s -->

    <!-------------------------------barra de pesquisa-------------------------------->
    <div class="row">
        <div class="col-lg-12">
            <div class="card crud-bar">
                <div class="row justify-content-center align-items-center form-group">
                    <form class="col-xs-12 col-sm-12 col-md-12 col-xl-12 row justify-content-start"
                    method="post" id = "form1" action="/cartelas/" >{% csrf_token %}


                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                        {{ form.partida }}
                                    <label class="form-label-outlined label-search" for="id_partida">Partida</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.hash }}
                                    <label class="form-label-outlined"  for="id_hash">Bilhete</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.codigo }}
                                    <label class="form-label-outlined"  for="id_hash">Numero Cartela</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.resgatada }}
                                    <label class="form-label-outlined"  for="id_hash">Status</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 container-input-search text-right form-group">
                            <button onclick=test(1) class="col-3 col-sm-6 col-md-4 col-lg-3 col-xl-3 justify-content-center btn btn-success btn-search form-control-lg">
                                <em class="icon ni ni-search"></em>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------------------->

    <!-------------------------------Cards de Status-------------------------------->
        <div class="row my-row">
            <div class="col-md-4">
                <div class="card cards-status">
                    <div class="row text-center">
                        <em class="icon ni ni-sign-mxn icon-card color-card-pos"></em>
                        <h6 class="title-card color-card-pos">Sorteios</h6>
                    </div>
                    <div class="row">
                        <h6 class="col-12 text-right subtitle-card color-card-pos">{{ sorteios }}</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card cards-status">
                    <div class="row text-center">
                        <em class="icon ni ni-trend-up icon-card color-card-pos"></em>
                        <h6 class="title-card color-card-pos">Cartelas</h6>
                    </div>
                    <div class="row">
                        <h6 class="col-12 text-right subtitle-card color-card-pos">{{ cartelas_num }}</h6>
                    </div>
                </div>
            </div>
        </div>

    <!-------------------------------tabela de generica de bilhetes-------------------------------->
    <div class="row my-row">
        <div class="col-12">
            <div class="card table-responsive-xl overflow-auto">
                <table id="tabelaCartelas" class="table position-relative table-content" style="min-width: 400px !important;">
                    <thead class="thead-dark text-center thead-content">
                        <tr>
                            <th scope="col">Sorteio</th>
                            <th scope="col">Jogador</th>
                            <th scope="col">Hash</th>
                            <th scope="col">Cartela</th>
                            <th scope="col">Status</th>
                            <th scope="col"><th>
                        </tr>
                    </thead>
                    <tbody class="text-center tbody-content">
                    {% for c in cartelas %}
                        <tr>
                            <td scope="row">{{ c.partida.resumo }}</td>
                            <td scope="row">{% if c.jogador.nome %}
                                <a href="https://www.instagram.com/{{ c.jogador.usuario }}/" target="_blank">
                                    @{{ c.jogador.usuario }}({{c.jogador.id}})
                                </a>
                            {% else %}
                                {{ c.nome }}
                            {% endif %}</td>
                            <td scope="row">{{ c.hash }}</td>
                            <td scope="row">{{ c.codigo }}</td>
                            {% if hoje > c.partida.data_partida %}
                            <td scope="row">
                                <p class="positivo">sorteada</p>
                            </td>
                            {% else %}
                            <td scope="row">
                                <p class="">À sortear</p>
                            </td>
                            {% endif %}
                            {% if c.jogador %}
                            <td scope="row">
                                <p class="positivo">resgatada</p>
                            </td>
                            {% else %}
                            <td scope="row">
                                <p class="negativo">não resgatada</p>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>

            </div>
        </div>
    </div>
    <!---------------------------------------------------------------------------------------->
    <!--------Paginação -------->
    {% if ordenacao %}
    <div class="row my-row pagination-container">
        <div class="col-12 row justify-content-center">
            <nav aria-label="Navegação de página exemplo">
                <ul class="pagination">
                    {% if pagina_anterior > 0 %}
                    <li class="pageitem button-paginação">
                        <a class="page-link button-paginação" aria-hidden="true" href="/cartelas/?pagina=1">&laquo;</a>
                    </li> 
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação" class="sr-only" aria-hidden="true"  href="/cartelas/?pagina={{ pagina_anterior }}">
                            &lt;
                        </a>
                    </li>
                    {%endif%}
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação">{{ pagina_atual }}</a>
                    </li>
                    {% if ultima_pagina != pagina_atual %}
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação" class="sr-only" href="/cartelas/?pagina={{ proxima_pagina }}">
                            &gt;
                        </a>
                    </li>  
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação" aria-hidden="true" href="/cartelas/?pagina={{ ultima_pagina }}">&raquo;</a>
                    </li>
                    {%endif%}
                </ul>
            </nav>
        </div>
    </div>
    {%endif%}
    {% if not flag %}
    <div class="row my-row pagination-container">
        <div class="col-12 row justify-content-center">
            <nav aria-label="Navegação de página exemplo">
                <ul class="pagination">
                    {% if pagina_anterior > 0 %}
                    <li class="pageitem button-paginação">
                        <button class="page-link button-paginação" aria-hidden="true" onclick=test(1)>&laquo;</button>
                    </li> 
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" class="sr-only" onclick=test({{pagina_anterior}})>
                            &lt;
                        </button>
                    </li>
                    {%endif%}  
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação">{{ pagina_atual }}</a>
                    </li>
                    {% if ultima_pagina != pagina_atual %}
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" class="sr-only" onclick=test({{proxima_pagina}})>
                            &gt;
                        </button>
                    </li>  
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" aria-hidden="true" onclick=test({{ultima_pagina}})>&raquo;</button>
                    </li>
                    {%endif%}
                </ul>
            </nav>
        </div>
    </div>
    {%endif%}
<!-- content @e -->
<script>
        $(document).ready( function () {
            $('#tabelaCartelas').DataTable({
                "language": {
                    "url":"https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json",
                },
                "dom": '',
                paging: false,
            });
        } );
        let clickado = false
        function test(pagina){
            if(clickado == false){
                $('#form1').attr('action', $('#form1').attr('action') +'?pagina='+parseInt(pagina));
                $('#form1').submit();   
                clickado = true
            }
        }


        /*{% for c in cartelas %}
            let quantidade = {{ c.quantidade }};

        {% endfor %}*/

</script>
{% endblock %}