<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartelas</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container-cards">
        {% for cartela in cartelas %}
        <div class="cards">
            <div class="card-header">
                <h2 class="number-card">{{ cartela.id }}</h2>
                <h2 class="name-card">{{ cartela.estabelecimento }}</h2>
            </div>
            <div class="card-body">
                {% for l1 in cartela.linha1_lista %}
                <div class="number-balls">{{ l1 }}</div>
                {% endfor %}
                {% for l2 in cartela.linha2_lista %}
                <div class="number-balls">{{ l2 }}</div>
                {% endfor %}
                {% for l3 in cartela.linha3_lista %}
                <div class="number-balls">{{ l3 }}</div>
                {% endfor %}
            </div>
            <div class="card-footer">
                
            </div>
        </div>
        {% endfor %}
    </div>

    
    <script src="/static/js/script.js"></script>
</body>
</html>