{% extends "index.html" %}
{% block titulo %}
CONFIGURAÇÃO
{% endblock %}
{% block nav-bar %}

    <!-- content @s -->
        <!-- <div class="row justify-content-center">
            <div class="row col-lg-12 col-md-12 col-sm-12 justify-content-center">
                
                    
                </div>
            </div>
        </div> -->

        <div class="row justify-content-center">
            <div class="row col-lg-12 col-md-12 col-sm-12 justify-content-center padding-zero">
                <div class="col-md-12">
                    <div class="row card card-tabs col-md-12 padding-zero">
                        <div class="col-md-12 padding-zero">
                            <div class="row card col-md-12 container-card justify-content-center container-center">
                                <nav class="col-12 tab">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                      <button class="nav-link active-tabs tabs-margin" id="jogo-conf" data-bs-toggle="tab" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Configuração Jogo</button>
                                      <button class="nav-link deactivate-tabs tabs-margin" id="server-conf" data-bs-toggle="tab" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Configuração Visual</button>
                                      <button class="nav-link deactivate-tabs tabs-margin" id="regras-e-politicas" data-bs-toggle="tab" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Configuração Regras e Politicas</button>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        
                        <form class="col-12 row justify-content-start form-group" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% if form.non_fields_errors %}
                            <div class="errors-box container-error container-center">
                              {{ form.non_fields_errors }}
                            </div>
                        {% endif %}
                            {% if form.fields_errors %}
                            <div class="errors-box container-error container-center">
                              {{ form.fields_errors }}
                            </div>
                        {% endif %}
                            <div class="row container-jogo-conf">
                                <div class="col-lg-6 col-md-6 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_tempo_min_entre_sorteios">Tempo mínimo entre Sorteios (minutos)</label>
                                    <div class="form-control-wrap">
                                        {{ form.tempo_min_entre_sorteios }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_iniciar_sorteio_em">Tempo para iniciar sorteio após 'Apostas Encerradas' (segundos)</label>
                                    <div class="form-control-wrap">
                                        {{ form.iniciar_sorteio_em }}
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_tempo_max_espera_sorteio">Liberar Resultado do Sorteio em (minutos)</label>
                                    <div class="form-control-wrap">
                                        {{ form.liberar_resultado_sorteio_em }}
                                    </div>
                                </div>
                                <!--<div class="col-lg-6 col-md-6 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_velo_sorteio">Velocidade do Sorteio Online</label>
                                    <div class="form-control-wrap">
                                        {{ form.velocidade_replay_online }}
                                    </div>
                                </div>-->
                            </div>
                            <div class="row container-server-conf">
                                <!-- <div class="row justify-content-center col-lg-12 col-sm-12 container-input-create">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <h6 class="conf-subtitle">Configurações Visual</h6> 
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-lg-12 col-md-12 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_nome_server">Nome do painel</label>
                                    <div class="form-control-wrap">
                                        {{ form.nome_server }}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_nome_server">Nome do Botão</label>
                                    <div class="form-control-wrap">
                                        {{ form.nome_botao }}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_nome_server">URL do Botão</label>
                                    <div class="form-control-wrap">
                                        {{ form.url_botao }}
                                    </div>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_nome_server">Nome do Grupo Telegram</label>
                                    <div class="form-control-wrap">
                                        {{ form.nome_grupo_telegram }}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_nome_server">URL do Grupo Telegram</label>
                                    <div class="form-control-wrap">
                                        {{ form.url_grupo_telegram }}
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_tempo_validade_bilhete">Avisos importantes</label>
                                    <div class="form-control-wrap">
                                        {{ form.notificacao_server }}
                                    </div>
                                </div>

                                <div class="col-md-6 box-card-input">
                                    <div class="row col-md-12 card-input padding-top-botton">
                                        {% if configuracao.logo_login %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img id="logo_login" src="{{ configuracao.logo_login.url }}">
                                        </div>
                                        {% else %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img id="logo_login" src="">
                                        </div>
                                        {% endif %}
                                        <div class="row col-8 col-lg-8 col-sm-8 padding-zero conatiner-img-input">
                                            <h4 class="conf-img-title col-12">Logo Login(png-512x512)</h4>
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                    {{ form.logo_login }}
                                                    <label class="custom-file-label" for="id_logo_login" data-browse="Selecionar"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 box-card-input">
                                    <div class="row col-md-12 card-input padding-top-botton">
                                        {% if configuracao.logo_dash %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img id="logo_dash" src="{{ configuracao.logo_dash.url }}">
                                        </div>
                                        {% else %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img id="logo_dash" src="">
                                        </div>
                                        {% endif %}
                                        <div class="row col-8 col-lg-8 col-sm-8 padding-zero conatiner-img-input">
                                            <h4 class="conf-img-title col-12">Logo dash(png-512x1024)</h4>
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                    {{ form.logo_dash }}
                                                    <label class="custom-file-label" for="id_logo_dash" data-browse="Selecionar"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 box-card-input">
                                    <div class="row col-md-12 card-input padding-top-botton">
                                        {% if configuracao.logo_promo %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img id="logo_promo" src="{{ configuracao.logo_promo.url }}">
                                        </div>
                                        {% else %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img id="logo_promo" src="">
                                        </div>
                                        {% endif %}
                                        <div class="row col-8 col-lg-8 col-sm-8 padding-zero conatiner-img-input">
                                            <h4 class="conf-img-title col-12">Logo Promo(png-550x570)</h4>
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                    {{ form.logo_promo }}
                                                    <label class="custom-file-label" for="id_logo_promo" data-browse="Selecionar"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 box-card-input">
                                    <div class="row col-md-12 card-input padding-top-botton">
                                        {% if configuracao.favicon %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img id="favicon" src="{{ configuracao.favicon.url }}">
                                        </div>
                                        {% else %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img id="favicon" src="">
                                        </div>
                                        {% endif %}
                                        <div class="row col-8 col-lg-8 col-sm-8 padding-zero conatiner-img-input">
                                            <h4 class="conf-img-title col-12">Logo Favicon</h4>
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                    {{ form.favicon }}
                                                    <label class="custom-file-label" for="id_favicon" data-browse="Selecionar"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 box-card-input">
                                    <div class="row col-md-12 card-input padding-top-botton">
                                        {% if configuracao.fundo_front %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img id="fundo_front" src="{{ configuracao.fundo_front.url }}">
                                        </div>
                                        {% else %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img id="fundo_front" src="">
                                        </div>
                                        {% endif %}
                                        <div class="row col-8 col-lg-8 col-sm-8 padding-zero conatiner-img-input">
                                            <h4 class="conf-img-title col-12">Fundo Frontend(png-550x570)</h4>
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                    {{ form.fundo_front }}
                                                    <label class="custom-file-label" for="id_fundo_front" data-browse="Selecionar"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--
                                <div class="col-md-6 box-card-input">
                                    <div class="row col-md-12 card-input padding-top-botton">
                                        {% if configuracao.gif_inicializador %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img src="{{ configuracao.gif_inicializador.url }}">
                                        </div>
                                        {% else %}
                                        <div class="col-4 col-lg-4 col-sm-4 container-img-conf">
                                            <img src="/static/gif_loading_tela.gif">
                                        </div>
                                        {% endif %}
                                        <div class="row col-8 col-lg-8 col-sm-8 padding-zero conatiner-img-input">
                                            <h4 class="conf-img-title col-12">Gif Inicializador</h4>
                                            <div class="d-flex col-12 col-sm-12">
                                                {{ form.gif_inicializador }}
                                                <div class="col-9 col-9 name_logo" id="name_gif_inicializador"></div>
                                                <button type="button" id="btn_gif_inicializador" class="col-3 btn btn_logo"><em class="icon ni ni-arrow-to-up"></em></button>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 container-input-create input-container-conf margin-zero">
                                            <label class="form-label" for="id_tempo_max_espera_sorteio">Mensagem Gif Inicializador</label>
                                            <div class="form-control-wrap">
                                                {{ form.msg_gif_inicializador }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                            </div>
                            <div class="row container-regras-e-politicas-conf">
                                <div class="col-lg-12 col-md-12 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_regras">Regras</label>
                                    <div class="form-control-wrap">
                                        {{ form.regras }}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 container-input-create input-container-conf">
                                    <label class="form-label" for="id_politicas_de_privacidade">Politicas de privacidade</label>
                                    <div class="form-control-wrap">
                                        {{ form.politicas_de_privacidade }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 row justify-content-end container-btn-create-estabelecimento">
                                <div class="col-12 text-right container-input-create container-salve-conf">
                                     <div class="form-group">
                                        <div class="form-control-wrap">
                                            <button class="btn btn-success btn-create-secondary">Salvar</button>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<!-- content @e -->
<!------------------------------------------------------------------------------------------------------------>
<script>
    
    const jogo = $('#jogo-conf');
    const server = $('#server-conf');
    const regras = $('#regras-e-politicas')

    const jogoContainer = $('.container-jogo-conf');
    const serverContainer = $('.container-server-conf');
    const regrasContainer = $('.container-regras-e-politicas-conf');

    regras.removeClass('active-tabs');
    regras.addClass('deactivate-tabs');
    regrasContainer.css('display','none');
    $(jogo).click(function () {
        jogo.removeClass('deactivate-tabs');
        jogo.addClass('active-tabs');
        jogoContainer.css('display','flex');

        server.removeClass('active-tabs');
        server.addClass('deactivate-tabs');
        serverContainer.css('display','none');

        regras.removeClass('active-tabs');
        regras.addClass('deactivate-tabs');
        regrasContainer.css('display','none');
    })

    $(server).click(function () {
        server.removeClass('deactivate-tabs');
        server.addClass('active-tabs');
        serverContainer.css('display','flex');

        jogo.removeClass('active-tabs');
        jogo.addClass('deactivate-tabs');
        jogoContainer.css('display','none');

        regras.removeClass('active-tabs');
        regras.addClass('deactivate-tabs');
        regrasContainer.css('display','none');
    })
    $(regras).click(function () {
        regras.removeClass('deactivate-tabs');
        regras.addClass('active-tabs');
        regrasContainer.css('display','flex');

        jogo.removeClass('active-tabs');
        jogo.addClass('deactivate-tabs');
        jogoContainer.css('display','none');

        server.removeClass('active-tabs');
        server.addClass('deactivate-tabs');
        serverContainer.css('display','none');
    })

</script>
<script src='static/tinymce/tinymce.min.js'></script>
<script>
    tinyMCE.init({
        mode: "textareas",
    });
</script>

{% endblock %}
