{% extends "index.html" %}
{% block titulo %}
CONFIRMAR RECOLHE
{% endblock %}
{% block nav-bar %}
<div class="row my-row">
    <div class="col-12">
        <div class="card table-responsive-xl overflow-auto">
            <form class="modal-body" method="post" id="form1">{% csrf_token %}
                <div class="form-group" action="" method="post">
                    <div class="row container-form-modal">
                        <div class="col-lg-12 col-sm-6 container-input-create">
                            <label><h3>Confirmar Solicitacao de {{ solicitacao.get_tipo_display }} do  PDV: {{solicitacao.pdv}} valor: {{solicitacao.valor}}</h3></label>
                            <div class="form-control-wrap">
                                {{ form.senha }}
                                <label class="form-label-outlined" for="id_senha">Digite sua senha novamente para confirmação</label>
                            </div>
                            {% if form.senha.errors %}
                                <div class="error-campo">
                                {{ form.senha.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class=" row justify-content-end col-12 container-input-create">
                    <div class="form-control-wrap">
                        <button type="submit" form='form1' class="col-12 col-sm-12 col-md-12 col-lg-12 btn btn-lg btn-primary btn-search btn-success">
                            Confirmar
                        </button>
                    </div>
                </div>
                <div>
                    <a href="/solicitacoes_recolhe/" class="btn btn-lg text-right btn-danger btn-create">
                        <p>Cancelar</p>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}