{% extends "index.html" %}
{% block titulo %}
CRIAR ANÚNCIO
{% endblock %}
{% load l10n %}
{% block nav-bar %}
<!------------------------------------------------------------------------------------------------------------>
    <!-- content @s -->
        <div class="row my-row">
            <div class="col-12 container-create-partida">
                <div class="row col-12 safari-container card justify-content-start card-criar-partida">
                    <div class="alert alert-fill alert-secondary alert-icon header-modal crud-bar-user-header">
                        <em class="icon ni ni-plus"></em>
                        <h6>Criar Anúncio</h6>
                    </div>
                    <form id="form_partida" class="row form-group justify-content-start form-create-ADS" action="" method="post">{% csrf_token %}
                        
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <select name="partida" class="form-control form-control-lg form-control-outlined input-margin-top" required="" id="id_partida">
                                        <option value="" selected="">---------</option>
                                    </select>
                                    <label class="form-label-outlined" for="{{ ads_form.partida.id_for_label }}">Partida</label>
                                </div>
                                {% if ads_form.partida.errors %}
                                    <div class="error-campo">
                                        {{ ads_form.partida.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-12 container-input-create">
                            <h4 class="title-box-dias">
                                Dias Disponíveis:
                            </h4>
                            <div class="form-group">
                                <div class="form-check-inline container-checkbox-parametro">
                                    <ul id="id_dias" class="form-check-input checks">
                                    </ul>
                                </div>
                                {% if ads_form.dias.errors %}
                                    <div class="error-campo">
                                        {{ ads_form.dias.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 row container-btn-createPartida">
                                <div class="form-group button-partida">
                                <div class="form-control-wrap">
                                    <a href="/ads/" class="btn btn-danger btn-create-secondary">
                                        <em class="icon ni ni-chevron-left-round-fill icon-right"></em>
                                        <p>Voltar</p>
                                    </a>
                                </div>
                            </div>

                            <div class="form-group button-partida">
                                <div class="form-control-wrap">
                                    <button id="btn_modal_salve" class="btn btn-success btn-create-secondary" >
                                        <p>Salvar</p>
                                        <em class="icon ni ni-save-fill icon-left"></em>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<script>

const partidas = [];

{% for partidasDados in partidas_ads %}

    var patidaDado = {
        id: '{{partidasDados.partida.id}}',
        data: dayjs({{partidasDados.partida.data_partida|date:"U"}}*1000),
        datasDisponiveis: [],
    }
    console.log('{{partidasDados.datas_disponiveis}}')
    {%for dataDisponivel in partidasDados.datas_disponiveis %}
    patidaDado.datasDisponiveis.push(
        dayjs({{dataDisponivel|date:"U"}}*1000)
    )
    {% endfor %}

    partidas.push(patidaDado);

{% endfor %}

const partidaSelect = $('#id_partida');
let selectPartida = '';
$(()=>{
    partidas.sort(partidas.data).map((partida,key)=>{
        selectPartida += `<option value="${partida.id}" key=${key}>Sorteio: 
            ${partida.id.toString().padStart(5, "0")} as ${dayjs(partida.data).format('DD/MM/YYYY')} 
            ${dayjs(partida.data).format('HH:mm')} </option>`;
    })
    
    partidaSelect.html(selectPartida);
    diasDisponiveis();
})

const boxDias = $('#id_dias');
let checkBoxDias = '';

$(partidaSelect).change(()=>{
    diasDisponiveis();
})
console.log(partidas)

const diasDisponiveis = () =>{
    checkBoxDias = '';
    partidas.filter(part=> part.id === partidaSelect.val()).map((partida,key)=>{
        console.log(partida)
        partida.datasDisponiveis?.map((datas,key)=>{
            checkBoxDias += `
            <li>
                <label for="id_dias_${key}">
                    <input type="checkbox" name="dias" value="${dayjs(datas).format('DD/MM/YYYY')}" class="form-check-input checks" id="id_dias_${key}">
                    ${dayjs(datas).format('DD')} de ${dayjs(datas).format('MMMM')} de ${dayjs(datas).format('YYYY')}
                </label>
            </li>`
        })
    })
    
    
    boxDias.html(checkBoxDias);
}
</script>

{% endblock %}