{% extends "index.html" %}
{% block titulo %}
CRIAR PARTIDA
{% endblock %}
{% load l10n %}
{% block nav-bar %}
<!------------------------------------------------------------------------------------------------------------>
    <!-- content @s -->
<div class="row my-row" xmlns="http://www.w3.org/1999/html">
            <div class="col-12 container-create-partida">
                <div class="row safari-container card justify-content-start card-criar-partida">
                    <div class="alert alert-fill alert-secondary alert-icon header-modal crud-bar-user-header">
                        <em class="icon ni ni-plus"></em>
                        <h6>Criar Partida</h6>
                    </div>
                    <form id="form_partida" class="row form-group justify-content-start form-create-partida" action="" method="post">{% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="errors-box container-error container-center">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap focused">
                                    {{ form.dia_partida }}
                                   <label class="form-label-outlined" for= "{{ form.dia_partida.id_for_label }}">Data da Partida</label>
                                </div>
                                {% if form.dia_partida.errors %}
                                    <div class="error-campo">
                                        {{ form.dia_partida.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap focused">
                                    {{ form.hora_partida }}
                                    <label class="form-label-outlined" for="{{ form.hora_partida.id_for_label }}">Hora da Partida</label>
                                </div>
                                {% if form.hora_partida.errors %}
                                    <div class="error-campo">
                                        {{ form.hora_partida.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap focused">
                                    {{ form.tipo_rodada }}
                                </div>
                                {% if form.tipo_rodada.errors %}
                                    <div class="error-campo">
                                        {{ form.tipo_rodada.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <!--
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap focused">
                                    {{ form.nome_sorteio }}
                                    <label class="form-label-outlined" for="id_nome_sorteio">Nome do Sorteio</label>
                                </div>
                            </div>
                        </div>
                        -->
                        
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap focused">
                                    {{ form.valor_kuadra }}
                                    <label class="form-label-outlined" for="{{ form.valor_kuadra.id_for_label }}">Kuadra</label>
                                </div>
                                <div id="error-campo-valor_kuadra">
                                    {% if form.valor_kuadra.errors %}
                                    <div class="error-campo">
                                        {{ form.valor_kuadra.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap focused">
                                    {{ form.valor_kina }}
                                    <label class="form-label-outlined" for="{{ form.valor_kina.id_for_label }}">Kina</label>
                                </div>
                                <div id="error-campo-valor_kina">
                                    {% if form.valor_kina.errors %}
                                    <div class="error-campo">
                                        {{ form.valor_kina.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap focused">
                                    {{ form.valor_keno }}
                                    <label class="form-label-outlined" for="{{ form.valor_keno.id_for_label }}">Keno</label>
                                </div>
                                <div id="error-campo-valor_keno">
                                    {% if form.valor_keno.errors %}
                                    <div class="error-campo">
                                        {{ form.valor_keno.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- REGRAS DA PARTIDA -->
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap focused">
                                    {{ form.chance_vitoria }}
                                    <label class="form-label-outlined" for="{{ form.chance_vitoria.id_for_label }}">Percentual</label>
                                </div>
                                <div>
                                    {% if form.chance_vitoria.errors %}
                                    <div class="error-campo">
                                        {{ form.chance_vitoria.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap focused">
                                    {{ form.numero_cartelas_iniciais }}
                                    <label class="form-label-outlined" for="{{ form.numero_cartelas_iniciais.id_for_label }}">
                                        Número de Cartelas Iniciais
                                    </label>
                                </div>
                                <div>
                                    {% if form.numero_cartelas_iniciais.errors %}
                                    <div>
                                        {{ form.numero_cartelas_iniciais.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <!-- CRIAR AS REGRAS PARA GANHAR UMA CARTELA -->
                        <div class="row col-12" id="acoes_div">
                            <div class="row col-12">
                                <div class="col-lg-4 col-sm-5 container-input-create">
                                    <div class="form-group">
                                        <div class="form-control-wrap focused">
                                            <select name="acoes_select" class="form-select-lg form-control form-control-outlined" required readonly>

                                                <option value="{{ acoes_tipo.0.0 }}">{{ acoes_tipo.0.1 }}</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-7 container-input-create">
                                    <div class="form-group">
                                        <div class="form-control-wrap focused">
                                            <input name="acoes_url" value="{{ perfil_default }}"
                                                   type="text" class="form-control form-control-lg form-control-outlined" required {% if perfil_default %}readonly{% endif %}>
                                            <label class="form-label-outlined" for="id_url">URL</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="row col-12">
                            <div class="col-lg-6 col-sm-5 container-input-create">
                                    <div class="form-group">
                                        <div class="form-control-wrap focused">
                                            <button type="button" class="btn btn-success btn-create-secondary"> onclick="incluir_regras();">
                                                <p>Incluir mais regras</p></button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        -->
                        <div class="col-12 row container-btn-createPartida">
                                <div class="form-group button-partida">
                                <div class="form-control-wrap">
                                    <a href="#" class="btn btn-danger btn-create-secondary">
                                        <em class="icon ni ni-chevron-left-round-fill icon-right"></em>
                                        <p>Voltar</p>
                                    </a>
                                </div>
                            </div>

                            <div class="form-group button-partida">
                                <div class="form-control-wrap">
                                    <button type="submit" id="btn_modal_salve" class="btn btn-success btn-create-secondary" >
                                        <p>Salvar</p>
                                        <em class="icon ni ni-save-fill icon-left"></em>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
<script>

    function incluir_regras(){
        var div = $("#acoes_div");

        // INPUT SELECT
        var div_principal = $('<div>').attr('class','row col-12');
        var div_interno_1 = $('<div>').attr('class','col-lg-4 col-sm-5 container-input-create');
        var div_form_group_1 = $('<div>').attr('class','form-group');
        var div_input_1 = $('<div>').attr('class','form-control-wrap focused');
        var select_tipo = $("<select>").attr("name","acoes_select");
        select_tipo.attr("class","form-select-lg form-control form-control-outlined");
        select_tipo.attr("required",true);
        {% for acao_tipo in acoes_tipo %}
            select_tipo.append($("<option>").attr("value","{{ acao_tipo.0 }}").text("{{ acao_tipo.1 }}"));
        {% endfor  %}
        div_input_1.append(select_tipo);
        div_form_group_1.append(div_input_1);
        div_interno_1.append(div_form_group_1);
        div_principal.append(div_interno_1);

        // INPUT TEXT

        var div_interno_2 = $('<div>').attr('class','col-lg-4 col-sm-5 container-input-create');
        var div_form_group_2 = $('<div>').attr('class','form-group');
        var div_input_2 = $('<div>').attr('class','form-control-wrap focused');
        var url = $("<input/>").attr("name","acoes_url").attr("type","text");
        url.attr("class","form-control form-control-outlined form-control-lg");
        url.attr("required",true);
        div_input_2.append(url);
        div_form_group_2.append(div_input_2);
        div_interno_2.append(div_form_group_2);
        div_principal.append(div_interno_2);

        // BOTAO EXCLUIR

        div.append(div_principal);

    }
</script>
{% endblock %}
