{% extends "index.html" %}
{% block titulo %}
EDITAR EQUIPAMENTO
{% endblock %}
{% block nav-bar %}
<!------------------------------------------------------------------------------------------------------------>
    <!-- content @s -->
      <div class="row justify-content-center">
            <div class="row safari-container col-lg-8">
                <div class="row safari-container col-12 card crud-bar justify-content-center card-criar-partida">
                    <div class="alert alert-fill alert-secondary alert-icon header-modal crud-bar-user-header">
                        <em class="icon ni ni-plus"></em>
                        <h6>Editar Equipamento</h6>
                    </div>
                    <form class="col-12 row form-group" method="post">
                    {% csrf_token %}
                    <div class="col-lg-6 col-sm-6 container-input-create">
                        <div class="form-group">
                            <p>{{ form.tipo.errors }}</p>
                            <div class="form-control-wrap">
                                {{ form.tipo }}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 container-input-create">
                        <p>{{ form.acesso_anydesk.errors }}</p>
                        <div class="form-control-wrap">
                            {{ form.acesso_anydesk }}
                            <label class="form-label-outlined" for="id_acesso_anydesk">Modelo Placa</label>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-6 container-input-create">
                        <p>{{ form.descricao.errors }}</p>
                        <div class="form-control-wrap">
                            {{ form.descricao }}
                            <label class="form-label-outlined" for="id_descricao">Descrição</label>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 container-input-create">
                        <div class="form-control-wrap">
                            {{ form.android_id }}
                            <label class="form-label-outlined" for="id_latitude">ID</label>
                        </div>
                        <div class="error-campo">
                        {{ form.android_id.errors }}
                        </div>
                    </div>
                    {% if mac_address %}
                    <div class="col-lg-6 col-sm-12 container-input-create">
                        <div class="form-control-wrap">
                            <b>MAC: {{ mac_address }}</b>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-12 row container-btn-createPartida">
                         <div class="form-group">
                            <div class="form-control-wrap">
                                <a href="/telas/" class="btn btn-danger">Voltar</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-control-wrap">
                                <button value="Validate!" type="submit" href="{{ request.path }}" class="btn btn-success">Salvar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- content @e -->
<!------------------------------------------------------------------------------------------------------------>

{% endblock %}
