{% extends "index.html" %}
{% block titulo %}
{{ estabelecimento }}
{% endblock %}
{% block nav-bar %}
    <div class="row my-row">
      <div class="col-12">
          <div class="card table-card">
              <div class="">
                  <div class="alert alert-fill alert-secondary alert-icon header-modal crud-bar-user-header">
                      <em class="icon ni ni-pen-fill"></em>
                      <h6>Editar Estabelecimento</h6>
                  </div>

                  <form class="col-12 row form-group container-center form-create-estabelecimento" method="post" enctype="multipart/form-data">
                      {% csrf_token %}


                      <div class="row col-12">
                          <div class="col-lg-4 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <div class="form-control-wrap">
                                      <p>{{ form.logo.errors }}</p>
                                      <div class="custom-file">
                                          {{ form.logo }}
                                          <label class="custom-file-label" for="validatedCustomFile">Logo</label>
                                          <div class="invalid-feedback">pesquisar</div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-4 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.cnpj.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.cnpj }}
                                      <label class="form-label-outlined" for="outlined-normal">CNPJ</label>
                                  </div>
                              </div>
                          </div>

                        <div class="col-lg-4 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.ie.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.ie }}
                                      <label class="form-label-outlined" for="outlined-normal">Inscrição Estadual</label>
                                  </div>
                              </div>
                          </div>

                        <div class="col-lg-4 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.razao_social.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.razao_social }}
                                      <label class="form-label-outlined" for="outlined-normal">Razão Social</label>
                                  </div>
                              </div>
                        </div>

                          <div class="col-lg-4 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.nome_fantasia.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.nome_fantasia }}
                                      <label class="form-label-outlined" for="outlined-normal">Nome Fantasia</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-4 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.dono.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.dono }}
                                      <label class="form-label-outlined" for="outlined-normal">Dono</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-4 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.franquia.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.franquia }}
                                      <label class="form-label-outlined" for="outlined-normal">Franquia</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-4 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.telefone.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.telefone }}
                                      <label class="form-label-outlined" for="outlined-normal">Telefone</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-4 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.email.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.email }}
                                      <label class="form-label-outlined" for="outlined-normal">Email</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-12 col-sm-12 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.endereco.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.endereco }}
                                      <label class="form-label-outlined" for="outlined-normal">Endereço</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-2 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.endereco_num.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.endereco_num }}
                                      <label class="form-label-outlined" for="outlined-normal">Numero</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-5 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.endereco_complemento.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.endereco_complemento }}
                                      <label class="form-label-outlined" for="outlined-normal">Complemento</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-5 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.endereco_bairro.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.endereco_bairro }}
                                      <label class="form-label-outlined" for="outlined-normal">Bairro</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-5 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.endereco_cidade.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.endereco_cidade }}
                                      <label class="form-label-outlined" for="outlined-normal">Cidade</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-4 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.endereco_estado.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.endereco_estado }}
                                      <label class="form-label-outlined" for="outlined-normal">Estado</label>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-3 col-sm-6 container-input-create">
                              <div class="form-group">
                                  <p>{{ form.endereco_cep.errors }}</p>
                                  <div class="form-control-wrap">
                                      {{ form.endereco_cep }}
                                      <label class="form-label-outlined" for="outlined-normal">CEP</label>
                                  </div>
                              </div>
                          </div>

                      </div>


                      <div class="col-12 row justify-content-end container-btn-create-estabelecimento">
                          <div class="col text-right container-input-create">
                              <div class="form-group">
                                  <div class="form-control-wrap">
                                      <button class="btn btn-success ">Salvar</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
    <!--------------------------------------------->
{% endblock %}

