{% extends "index.html" %}
{% block titulo %}
GANHADORES
{% endblock %}
{% block nav-bar %}

    <!-------------------------------barra de pesquisa-------------------------------->
    <div class="row">
        <div class="col-lg-12">
            <div class="card crud-bar">
                <div class="row justify-content-center align-items-center form-group">
                    <form class="col-xs-12 col-sm-12 col-md-12 col-xl-12 row justify-content-start"  action="/ganhadores/" id="form1" method="post">
                    {% csrf_token %}

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.data_inicio }}
                                    <label class="form-label-outlined label-search" for="id_data_inicio">Data Inicio</label>
                                </div>
                            </div>
                        </div>

                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.data_fim }}
                                    <label class="form-label-outlined label-search" for="id_data_fim">Data Fim</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                {{ form.partida }}
                                <label class="form-label-outlined label-search" for="id_partida">Partida</label>
                                </div>
                            </div>
                        </div> 
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 container-input-search text-right form-group">
                            <button onclick=test(1) class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 justify-content-center btn btn-success btn-search form-control-lg">
                                <em class="icon ni ni-search"></em>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------------------->

    <!-------------------------------Cards de Status-------------------------------->
    <div class="row my-row">

        <div class="col-sm-6 col-md-6 col-lg-3 ">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos">Total Prêmios</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos">{{ total }}</h6>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 ">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos">Kuadra</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-online">{{ kuadra }}</h6>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-6 col-lg-3 ">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos">Kina</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-online">{{ kina }}</h6>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 ">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos">Keno</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-online">{{ keno }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 ">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos">Acumulado</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-online">{{ acumulado }}</h6>
                </div>
            </div>
        </div>

    </div>

    <!-------------------------------tabela de generica de cambistas-------------------------------->
    <div class="row my-row">
        <div class="col-12">
            <div class="card card-table table-responsive-xl overflow-auto">
                <table id="tabelaGanhadores" class="table position-relative table-content">
                    <thead class="thead-dark text-center thead-content">
                        <tr>
                        <th scope="col">Partida</th>
                        <th scope="col">Data</th>
                        <th scope="col">Kuadra</th>
                        <th scope="col">Kina</th>
                        <th scope="col">Keno</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center tbody-content">
                    <!--{% if not total %}
                    <tr><td colspan="6">Nenhum resultado encontrado</td> </tr>
                    {% endif %}
                    -->
                    {% for p, vencedores in partidas.items %}
                        <tr>
                            <th scope="row">{{ p.id }}</th>
                            <td>{{ p.data_partida|date:"SHORT_DATETIME_FORMAT" }}</td>
                            <td class="celula-grande">
                                <ul>
                                {% for v in vencedores %}
                                    {% if v.premio == 1 %}
                                    <li>
                                        <p>
                                            {{ v.cartela }} (
                                                {% if v.cartela.jogador %}
                                                    <a href="https://www.instagram.com/{{ v.cartela.jogador.usuario }}/" target="_blank">
                                                        @{{ v.cartela.jogador.usuario }}
                                                    </a>
                                                {% else %}
                                                    {{ v.cartela.nome }}
                                                {% endif %}
                                            )
                                            {% if v.cartela.jogador %}
                                                <span class="fundo-success-pago">JG</span>

                                                {% if v.cartela.jogador.status == 1 %}
                                                    {% if not jogador.conta %} <span class="btn-dark">ATIVO</span>
                                                    {% else %} <span class="btn-success">ATIVO</span>
                                                    {% endif %}
                                                {% elif v.cartela.jogador.status == 2 %} <span class="btn-warning">SUSPENSO</span>
                                                {% elif v.cartela.jogador.status == 3 %} <span class="btn-danger">NAO ENCONTRADO</span>
                                                {% endif %}

                                            {% else %}
                                                <span class="fundo-alert-pago">NJG</span>
                                            {% endif %}
                                        </p>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                    </ul>
                            </td>
                            <td class="celula-grande">
                                <ul>
                                {% for v in vencedores %}
                                    {% if v.premio == 2 %}
                                    <li>
                                        <p>
                                            {{ v.cartela }} (
                                                {% if v.cartela.jogador %}
                                                    <a href="https://www.instagram.com/{{ v.cartela.jogador.usuario }}/" target="_blank">
                                                        @{{ v.cartela.jogador.usuario }}
                                                    </a>
                                                {% else %}
                                                    {{ v.cartela.nome }}
                                                {% endif %}
                                            )
                                            {% if v.cartela.jogador %}
                                                <span class="fundo-success-pago">JG</span>
                                            {% else %}
                                                <span class="fundo-alert-pago">NJG</span>
                                            {% endif %}

                                        </p>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                    </ul>
                            </td>
                            <td class="celula-grande">
                                <ul>
                                {% for v in vencedores %}
                                    {% if v.premio == 3 %}
                                    <li>
                                        <p>
                                            {{ v.cartela }} (
                                                {% if v.cartela.jogador %}
                                                    <a href="https://www.instagram.com/{{ v.cartela.jogador.usuario }}/" target="_blank">
                                                        @{{ v.cartela.jogador.usuario }}
                                                    </a>
                                                {% else %}
                                                    {{ v.cartela.nome }}
                                                {% endif %}
                                            )
                                            {% if v.cartela.jogador %}
                                                <span class="fundo-success-pago">JG</span>
                                            {% else %}
                                                <span class="fundo-alert-pago">NJG</span>
                                            {% endif %}

                                        </p>             
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                    </ul>
                            </td>
                            <td class="celula-media">
                                <a class="btn btn-danger btn-create-secondary btn-checkbox btn-informacoes" data-toggle="modal" data-target="#modal-informacao-{{ p.id }}">
                                    <p>Bolas sorteadas</p>
                                </a>

                                <div class="modal fade" tabindex="-1" id="modal-informacao-{{ p.id }}" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="row modal-body">
                                                <div class="col-sm-12 container-information-franquias">
                                                    <div class="col-12 card-infomation-franquias">
                                                        <div class="row justify-content-between itens-infomation-franquias">
                                                            <h2 class="col-12 title-bolas">Bolas Sorteadas</h2>
                                                        </div>
                                                        <a href="#" class="close close-modal" data-dismiss="modal" aria-label="Close">
                                                            <em class="icon ni ni-cross"></em>
                                                        </a>
                                                        <div class="row itens-infomation-franquias">
                                                            {% for bolas in p.bolas_array %}
                                                            <div class="content-bolas-sorteadas">
                                                                <p class="bolas-sorteadas">{{ bolas }}</p>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- Ganhou Acumulado -->
                        </tr>
                    {% endfor %}

                    </tbody>
                    </table>

            </div>
        </div>
    </div>

    <!------------------------------->

    <!--------Paginação -------->
    {% if flag %}
    <div class="row my-row pagination-container">
        <div class="col-12 row justify-content-center">
            <nav aria-label="Navegação de página exemplo">
                <ul class="pagination">
                    {% if pagina_anterior > 0 %}
                    <li class="pageitem button-paginação">
                        <button class="page-link button-paginação" aria-hidden="true" onclick=test(1)>&laquo;</button>
                    </li> 
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" class="sr-only" onclick=test({{pagina_anterior}})>&lt;</button>
                    </li>
                    {%endif%}  
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação">{{ pagina_atual }}</a>
                    </li>
                    {% if ultima_pagina != pagina_atual %}
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" class="sr-only" onclick=test({{proxima_pagina}})>&gt;</button>
                    </li>  
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" aria-hidden="true" onclick=test({{ultima_pagina}})>&raquo;</button>
                    </li>
                    {%endif%}
                </ul>
            </nav>
        </div>
    </div>
    {%else%}
    <div class="row my-row pagination-container">
        <div class="col-12 row justify-content-center">
            <nav aria-label="Navegação de página exemplo">
                <ul class="pagination">
                    {% if pagina_anterior > 0 %}
                    <li class="pageitem button-paginação">
                        <a class="page-link button-paginação" aria-hidden="true" href="/ganhadores/?pagina=1">&laquo;</a>
                    </li> 
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação" class="sr-only" aria-hidden="true"  href="/ganhadores/?pagina={{ pagina_anterior }}">&lt;</a>
                    </li>
                    {%endif%}
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação">{{ pagina_atual }}</a>
                    </li>
                    {% if ultima_pagina != pagina_atual %}
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação" class="sr-only" href="/ganhadores/?pagina={{ proxima_pagina }}">&gt;</a>
                    </li>  
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação" aria-hidden="true" href="/ganhadores/?pagina={{ ultima_pagina }}">&raquo;</a>
                    </li>
                    {%endif%}
                </ul>
            </nav>
        </div>
    </div>   
    {%endif%}

    <!-- <form action="/cartelas/" method="GET">
        <a href="/cartelas/">Anterior</a>
        <div></div>
        <a href="/cartelas/">Proximo</a>
    </form> -->
    
    <!-------------------------------------------------------------------------------------------->

    <script>
        $(document).ready( function () {
            $('#tabelaGanhadores').DataTable({
                "language": {
                    "url":"https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json",
                },
                "dom": '',
                paging: false,
                "order": [[ 1, "desc" ]],
            });
        } );
        let clickado = false
        function test(pagina){
            if(clickado == false){
                $('#form1').attr('action', $('#form1').attr('action') +'?pagina='+parseInt(pagina));
                $('#form1').submit();   
                clickado = true
            }
        }
    </script>
    



<!-- content @e -->

{% endblock %}