{% extends "index.html" %}
{% block titulo %}
GERENCIAS
{% endblock %}
{% block nav-bar %}                    <!-- content @s -->

        <!---------------------------------Criar Gerencia---------------------------------->
        <div class="row">
            <div class="col-lg-12">
                <div class="card crud-bar">
                    <div class="row justify-content-center align-items-center form-group">
                        <div class="col-12 row justify-content-end">
                            <button type="button" id="btn-cadastrar-gerencia" class="btn btn-lg text-right btn-success btn-create btn-create-secondary" data-toggle="modal" data-target="#modal-gerencia">
                                <em class="icon ni ni-plus"></em>
                                <p>Criar Gerencias</p>
                            </button>
                            <div class="modal" tabindex="-1" id="modal-gerencia" aria-hidden="true">
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content">
                                        <a href="#" class="close" data-dismiss="modal" aria-label="show">
                                            <em class="icon ni ni-cross"></em>
                                        </a>

                                        <div class="alert alert-fill alert-secondary alert-icon header-modal">
                                            <em class="icon ni ni-plus"></em>
                                            <h6>Adicionar Gerencia</h6>
                                        </div>
                                        
                                        <form class="modal-body" method="post" id="form1">{% csrf_token %}

                                            <div class="form-group" action="" method="post">
                                                <div class="row container-form-modal">
                                                    <div class="col-lg-6 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                 {{ form.franquia }}
                                                                <label class="form-label-outlined" for="id_franquia">Franquia</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-5 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                {{ form.gerentes }}
                                                                <label class="form-label-outlined" for="id_franquia">Gerente</label>
                                                            </div>
                                                            {% if form.gerentes.errors %}
                                                            <div class="error-campo">
                                                                {{ form.gerentes.errors }}
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-end col-lg-1 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                <button type="button" id="novo-gerente-create" class="btn btn-sm btn-success">
                                                                    <em class="icon ni ni-plus"></em>
                                                                </button>
                                                                <button type="button" id="novo-gerente-remove" class="btn btn-sm btn-danger">
                                                                    <em class="icon ni ni-minus-sm"></em>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="block" class="row container-form-modal">
                                                    <div class="col-lg-6 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                {{ form.nome }}
                                                                <label class="form-label-outlined" for="id_franquia">Nome</label>
                                                            </div>
                                                            {% if form.nome.errors %}
                                                            <div class="error-campo">
                                                                {{ form.nome.errors }}
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                {{ form.login }}
                                                                <label class="form-label-outlined" for="id_franquia">Login</label>
                                                            </div>
                                                            {% if form.login.errors %}
                                                            <div class="error-campo">
                                                                {{ form.login.errors }}
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                {{ form.senha }}
                                                                <label class="form-label-outlined" for="id_franquia">Senha</label>
                                                            </div>
                                                            {% if form.senha.errors %}
                                                            <div class="error-campo">
                                                                {{ form.senha.errors }}
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                {{ form.confirmar_senha }}
                                                                <label class="form-label-outlined" for="id_franquia">Confirmar Senha</label>
                                                            </div>
                                                            {% if form.confirmar_senha.errors %}
                                                            <div class="error-campo">
                                                                {{ form.confirmar_senha.errors }}
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row container-form-modal">
                                                    <div class="row justify-content-end col-12 container-input-create">
                                                        <button type="submit" form='form1' class="btn btn-sm btn-success">
                                                            salvar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------tabela de generica de franquias-------------------------------->
        <div class="row my-row">
            <div class="col-12">
                <div  class="card table-margin table-responsive-xl ">
                    <table id = "tabelaGerencia" class="table">
                        <thead class="thead-dark text-center">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Código</th>
                                <th scope="col">Franquia</th>
                                <th scope="col">Gerente atual</th>
                                {% if request.session.perfil_max < 5 %}
                                {% if usuarios %}
                                <th scope="col">Alterar gerente para</th>
                                {% endif %}
                                {% endif %}
                                <th scope="col"></th>
                                <th scope="col">Situação</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for g in gerencias %}

                            <tr>
                                <td>{{ g.id }}</td>
                                <th scope="row">{{ g.codigo }}</th>
                                <td>{{ g.franquia }}</td>
                                <td>{% if g.gerente %}{{ g.gerente }}{% endif %}</td>
                                {% if request.session.perfil_max < 5 %}
                                {% if usuarios %}
                                <td>
                                    <form method="post">{% csrf_token %}
                                        <select class="form-control form-select-sm form-control-outlined" name="novogerente" onchange="this.form.submit();">
                                            <option value="" selected></option>
                                            {% for u in usuarios %}
                                                {% if g.franquia in u.franquias.all %}
                                                    <option value="{{ g.id }},{{ u.id }}">{{ u.usuario.get_full_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </form>
                                </td>
                                {% endif %}
                                {% endif %}

                                <td>
                                    {% if g.gerente %}
                                    <a href="/gerencia/{{ g.id }}/desvincular/" class="btn btn-danger btn-create-icon">
                                        <em class="icon ni ni-cross-circle-fill btn-create-icon-text"></em>
                                        <p>Desvincular</p>
                                    </a>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if g.ativo %}
                                    <p>Ativo</p>
                                    {% else %}
                                    <p>Inativo</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if g.ativo %}
                                    <a href="/gerencia/{{ g.id }}/status/" class="btn btn-danger btn-create-icon"><em class="icon ni ni-cross-circle-fill"></em></a>
                                    {% else %}
                                    <a href="/gerencia/{{ g.id }}/status/" class="btn btn-success btn-create-secondary"><em class="icon ni ni-check-circle-fill"></em></a>
                                    {% endif %}
                                </td>
                               <!--
                                <td class="text-center">
                                    <a href="/franquia/{{ f.id }}/" class="btn btn-success">
                                        <em class="icon ni ni-pen-fill"></em>
                                        <p>Editar</p>
                                    </a>
                                    <a href="/user/{{ f.dono.id }}/status/"
                                       class="btn {% if p.leiturista.ativo %}btn-danger{% else %}btn-success{% endif %}">

                                        <p>{% if p.leiturista.ativo %}Desativar{% else %}Ativar{% endif %}</p>
                                    </a>
                                </td>
                                -->
                            </tr>

                        {% endfor %}

                        </tbody>
                      </table>

                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------------------------------->
        <!--
        <div class="row">
            <div class="col-lg-12">
                <div class="card crud-bar">
                    <div class="row justify-content-center align-items-center form-group">
                        <div class="col-12 row justify-content-end">
                            <a class="btn btn-lg text-right btn-success btn-create btn-create-secondary" data-toggle="modal" data-target="#modal-create-gerente">
                                <em class="icon ni ni-plus"></em>
                                <p>Cadastrar Gerente</p>
                            </a>
                            <div class="modal fade" tabindex="-1" id="modal-create-gerente">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                            <em class="icon ni ni-cross"></em>
                                        </a>

                                        <div class="alert alert-fill alert-secondary alert-icon header-modal">
                                            <em class="icon ni ni-plus"></em>
                                            <h6>Cadastrar Gerente</h6>
                                        </div>

                                        <form class="modal-body" method="post" id="dono_franquia">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="row container-form-modal">
                                                    <div class="col-lg-6 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                {{ form_gerente.nome }}
                                                                <label class="form-label-outlined" for="id_franquia">Nome</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                {{ form_gerente.login }}
                                                                <label class="form-label-outlined" for="id_franquia">Sobrenome</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                {{ form_gerente.senha }}
                                                                <label class="form-label-outlined" for="id_franquia">Senha</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-6 container-input-create">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap">
                                                                {{ form_gerente.confirmar_senha }}
                                                                <label class="form-label-outlined" for="id_franquia">Confirmar Senha</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class=" row justify-content-end col-12 container-input-create">
                                                <div class="form-control-wrap">
                                                    <button type="submit" form='dono_franquia' class="btn btn-success btn-create-secondary">
                                                        salvar
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-------------------------------tabela de generica de usuarios candidatos a gerente-------------------------------->
        <div class="row my-row">
            <div class="col-12">
                <div  class="card table-margin table-responsive-xl ">
                    <table id = "tabelaGerencia" class="table">
                        <thead class="thead-dark text-center">
                            <tr>
                                <th scope="col" colspan="5"><h6 style="color:white;">Candidatos a Gerencia</h6></th>
                            </tr>
                            <tr>
                                <th scope="row">#</th>
                                <th scope="col">nome</th>
                                <th scope="col">login</th>
                                <th scope="col">Perfis</th>
                                <th scope="col">Rotas</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for u in usuarios %}
                            <tr>
                                <th scope="row">{{ u.id }}</th>
                                <td>{{ u.usuario.get_full_name }}</td>
                                <td>{{ u.usuario.username }}</td>
                                <td>{{ u.perfis.all|join:", " }}</td>
                                <td>{{ u.franquias.all|join:", "}}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                      </table>

                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------------------------------->
<script>
    $(document).ready( function () {
        $('#tabelaGerencia').DataTable({
            "language": {
                "url":"https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json",
            },
            "dom": '',
            paging: false,
            columnDefs: [
                { orderableerroCad: false, targets: [4,5,7] }
            ],  
        });
        $('#tabelaCandidato').DataTable({
            "language": {
                "url":"https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json",
            },
            "dom": '',
            paging: false  
        });
    } );

    const erroCad = {% if form.gerentes.errors or form.nome.errors or form.login.errors or form.senha.errors or form.confirmar_senha.errors %} true {% else %} false {% endif %};
</script>

<script src="/static/script/novo_gerente.js"></script>
{% endblock %}