{% extends "index.html" %}
{% block titulo %}
JOGADORES
{% endblock %}
{% block nav-bar %}
{% if messages %}
<div class="row justify-content-center align-items-center bg-success">
    <div class="col-lg-12">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} bg-white close"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
    <!-------------------------------barra de pesquisa-------------------------------->
    <div class="row">
        <div class="col-lg-12">
            <div class="card crud-bar">
                <form class="col-xs-12 col-sm-12 col-md-12 col-xl-12 row justify-content-start"  action="/jogadores/" id="form1" method="post">
                    {% csrf_token %}
                    <div class="row justify-content-center align-items-center form-group">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.nome_jogador }}
                                    <label class="form-label-outlined label-search" for="id_nome_jogador">Nome Do Jogador</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.data_inicio }}
                                    <label class="form-label-outlined label-search" for="id_data_inicio">Data Inicio</label>
                                </div>
                            </div>
                        </div>

                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.data_fim }}
                                    <label class="form-label-outlined label-search" for="id_data_fim">Data Fim</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                {{ form.partida }}
                                <label class="form-label-outlined label-search" for="id_partida">Partida</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                {{ form.status }}
                                <label class="form-label-outlined label-search" for="id_status">Status</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 container-input-search text-right form-group">
                            <button onclick=test(1) class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center btn btn-success btn-search form-control-lg">
                                <em class="icon ni ni-search"> Buscar</em>
                            </button>
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------------------->

    <!-------------------------------Cards de Status-------------------------------->
    <div class="row my-row">

        <div class="col-sm-6 col-md-6 col-lg-3 ">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-user icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos">Total Jogadores</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos">{{ total_dados }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 ">
            <div class="card cards-status text-verde">
                <div class="row text-center ">
                    <em class="icon ni ni-user icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos text-verde">Ativos</h6>
                </div>
                <div class="row text-verde">
                    <h6 class="col-12 text-right subtitle-card color-card-pos text-verde">{{ total_ativos }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 ">
            <div class="card cards-status text-amarelo">
                <div class="row text-center">
                    <em class="icon ni ni-user icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos text-amarelo">Desafio</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos text-amarelo">{{ total_suspensos }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 ">
            <div class="card cards-status">
                <div class="row text-center text-vermelho">
                    <em class="icon ni ni-user icon-card color-card-on-line"></em>
                    <h6 class="title-card color-card-pos text-vermelho">@fake</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos text-vermelho">{{ total_fake }}</h6>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------tabela de generica de cambistas-------------------------------->
    <div class="row my-row">
        <div class="col-12">
            <div class="card card-table table-responsive-xl overflow-auto">
                <table id="tabelaJogadores" class="table position-relative table-content">
                    <thead class="thead-dark text-center thead-content">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nome</th>
                            <th scope="col">Instagram</th>
                            <th scope="col">Quantidade de sorteios</th>
                            <th scope="col">Sorteios que participou</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center tbody-content">
                    {% for jogador in jogadores %}
                        <tr>
                            <td scope="row">
                                {% if jogador.foto %}<p><img src="{{ jogador.foto }}" width="60px"></p>{% endif %}
                                (ID {{ jogador.id }}) <span
                                    {% if jogador.status == 1 %}
                                        {% if not jogador.conta %} class="btn-dark"
                                        {% else %} class="btn-success"
                                        {% endif %}
                                    {% elif jogador.status == 2 %} class="btn-warning"
                                    {% elif jogador.status == 3 %} class="btn-danger"
                                    {% endif %}
                            >{{ jogador.get_status_display }}</span>
                            </td>
                            <td scope="row">{{ jogador.nome }}</td>
                            <td scope="row">
                                <a href="https://www.instagram.com/{{ jogador.usuario }}/" target="_blank">
                                    @{{ jogador.usuario }}
                                </a>
                            </td>
                            <td scope="row">{{ jogador.sorteios_participou_count}}
                            <td scope="row" class="celula-media">
                                <a class="btn btn-danger btn-create-secondary btn-checkbox btn-informacoes" data-toggle="modal" data-target="#modal-informacao-{{ jogador.id }}">
                                    <p>Sorteios Participados</p>
                                </a>
                                <div class="modal fade" tabindex="-1" id="modal-informacao-{{ jogador.id }}" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="row modal-body">
                                                <div class="col-sm-12 container-information-franquias">
                                                    <div class="col-12 card-infomation-franquias">
                                                        <div class="row justify-content-between itens-infomation-franquias">
                                                            <h2 class="col-12 title-bolas">Sorteios Participados</h2>
                                                        </div>
                                                        <a href="#" class="close close-modal" data-dismiss="modal" aria-label="Close">
                                                            <em class="icon ni ni-cross"></em>
                                                        </a>
                                                        <div class="row itens-infomation-franquias">
                                                            {% for partida in jogador.sorteios_participou %}
                                                            <div class="content-bolas-sorteadas">
                                                                <p class="bolas-sorteadas">{{ partida.id }}</p>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% if jogador.status == 2 %}
                                <a href="/jogador/{{ jogador.id }}/ativar/"
                                   class="btn-success"
                                   onclick="return confirm('Confirma a reativação de @{{ jogador.usuario }}?');">
                                    Ativar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    </table>

            </div>
        </div>
    </div>

    <!------------------------------->

    <!--------Paginação -------->
    <div class="row my-row pagination-container">
        <div class="col-12 row justify-content-center">
            <nav aria-label="Navegação de página exemplo">
                <ul class="pagination">
                    {% if pagina_anterior > 0 %}
                    <li class="pageitem button-paginação">
                        <button class="page-link button-paginação" aria-hidden="true" onclick=test(1)>&laquo;</button>
                    </li> 
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" class="sr-only" onclick=test({{pagina_anterior}})>&lt;</button>
                    </li>
                    {%endif%}  
                    <li class="page-item button-paginação">
                        <a class="page-link button-paginação">{{ pagina_atual }}</a>
                    </li>
                    {% if ultima_pagina != pagina_atual %}
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" class="sr-only" onclick=test({{proxima_pagina}})>&gt;</button>
                    </li>  
                    <li class="page-item button-paginação">
                        <button class="page-link button-paginação" aria-hidden="true" onclick=test({{ultima_pagina}})>&raquo;</button>
                    </li>
                    {%endif%}
                </ul>
            </nav>
        </div>
    </div>
    <script>
        $(document).ready( function () {
            $('#tabelaJogadores').DataTable({
                "language": {
                    "url":"https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json",
                },
                "dom": '',
                paging: false,
            });
        } );
        let clickado = false
        function test(pagina){
            if(clickado == false){
                $('#form1').attr('action', $('#form1').attr('action') +'?pagina='+parseInt(pagina));
                $('#form1').submit();   
                clickado = true
            }
        }
    </script>
    



<!-- content @e -->

{% endblock %}