{% extends "nav-bar.html" %}
{% block titulo %}
MOVIMENTO PDV
{% endblock %}
{% block nav-bar %}
<!-- content @s -->

    <!-------------------------------barra de pesquisa-------------------------------->
        <div class="row">
        <div class="col-lg-12">
            <div class="card crud-bar">
                <div class="row justify-content-center align-items-center form-group">
                    <form method="post" class="col-xs-12 col-sm-12 col-md-12 col-xl-12 row justify-content-start" action="/movimento_diario/" id="form1">
                    {% csrf_token %}
                        
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.data_inicio }}
                                    <label class="form-label-outlined" for="id_data_inicio">Data início</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.hora_inicio }}
                                    <label class="form-label-outlined" for="id_hora_inicio">Hora Inicial</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.data_fim }}
                                    <label class="form-label-outlined" for="id_data_fim">Data Final</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.hora_fim }}
                                    <label class="form-label-outlined" for="id_hora_fim">Hora Final</label>
                                </div>
                            </div>
                        </div>

                        {% if request.session.perfil_max != 5 %}
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.gerente }}
                                    <label class="form-label-outlined label-search" for="is_representante">Gerente</label>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 container-input-create-secundary">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.status }}
                                    <label class="form-label-outlined label-search" for="status_id">Status</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 container-input-search text-right form-group">
                            <button class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 justify-content-center btn btn-success btn-search form-control-lg">
                                <em class="icon ni ni-search"></em>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    <!------------------------------------------------------------------------------->

    <!-------------------------------Cards de Status-------------------------------->
    <div class="row my-row">

        <div class="col-md-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-trend-up icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">Sorteios</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos">{{ sorteios }}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-trend-up icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">PDV</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos">{{ pos }}</h6>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-trend-up icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">Doações</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos">{{ doacoes_t|floatformat:2 }}</h6>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">Prêmios</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-offline">{{ premios_t|floatformat:2 }}</h6>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-trend-up icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">Saldo</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card {% if saldo < 0 %} color-card-offline {% else %} color-card-online {% endif %}">{{ saldo_t|floatformat:2 }}</h6>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">Comissão</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-offline">{{ comissao_t|floatformat:2 }}</h6>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">Resultado</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card {% if resultado < 0 %} color-card-offline {% else %} color-card-online {% endif %}">{{ resultado_t|floatformat:2 }}</h6>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-trend-up icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">Cartelas</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos">{{ bilhetes_t }}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card cards-btn-csv">
            <div class="row justify-content-end">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 container-input-search text-right form-group">
                    <button onclick=relatorio() class="btn btn-success btn-create-secondary">
                        <em class="icon ni ni-arrow-to-down icon-right"></em>
                        <p>Relatorio</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------tabela de generica de cambistas-------------------------------->
    <div class="row my-row">
        <div class="col-12">
            <div class="card table-responsive-xl overflow-auto">
                <table class="table position-relative table-content">
                    <thead class="thead-dark text-center thead-content">
                        <th scope="col" colspan="3" class="text-left">Data Inicio: {{ data_inicial|date:"d/m/Y" }} {{ hora_inicio|date:"H:i" }}</th>
                        <th scope="col" colspan="3" class="text-right">Data Fim: {{ data_fim|date:"d/m/Y" }} {{ hora_fim|date:"H:i" }}</th>
                    </thead>
                </table>
                <table id='tabelaPdv' class="table position-relative table-content">
                    <thead class="thead-dark text-center thead-content">
                        <tr>
                        <th scope="col">PDV</th>
                        <th scope="col">Status</th>
                        <th scope="col">Gerente(s)</th>
                        <th scope="col">Doações</th>
                        <th scope="col">Premios</th>
                        <th scope="col">Comissão</th>
                        <th scope="col">Saldo</th>
                        </tr>
                    </thead>
                    <tbody class="text-center tbody-content">
                    <!--{% if not dados %}
                    <tr><td colspan="6">Nenhum resultado encontrado</td> </tr>
                    {% endif %}
                    -->
                    {% for pdv,gerencias,doacoes,premios,comissao,saldo in dados %}
                        <tr>
                        <td>{{ pdv }}</td>
                        <td>{% if pdv.ativo%} ATIVO {% else %} INATIVO {% endif %}</td>
                        <td>{{ gerencias|join:", <br>" }}</td>
                        <td>{{ doacoes|floatformat:2 }}</td>
                        <td>{{ premios|floatformat:2 }}</td>
                        <td>{{ comissao|floatformat:2 }}</td>
                        <td>{{ saldo|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row my-row pagination-container">
    <div class="col-12 row justify-content-center">
        <nav aria-label="Navegação de página exemplo">
            <ul class="pagination">
                {% if pagina_anterior > 0 %}
                <li class="pageitem button-paginação">
                    <button class="page-link button-paginação" aria-hidden="true" onclick=test(1)>&laquo;</button>
                </li> 
                <li class="page-item button-paginação">
                    <button class="page-link button-paginação" class="sr-only" onclick=test({{pagina_anterior}})>
                        &lt;
                    </button>
                </li>
                {%endif%}  
                <li class="page-item button-paginação">
                    <a class="page-link button-paginação">{{ pagina }}</a>
                </li>
                {% if ultima_pagina != pagina %}
                <li class="page-item button-paginação">
                    <button class="page-link button-paginação" class="sr-only" onclick=test({{proxima_pagina}})>
                        &gt;
                    </button>
                </li>  
                <li class="page-item button-paginação">
                    <button class="page-link button-paginação" aria-hidden="true" onclick=test({{ultima_pagina}})>&raquo;</button>
                </li>
                {%endif%}
            </ul>
        </nav>
    </div>
</div>
    <!-------------------------------------------------------------------------------------------->
<!-- content @e -->
    <script>
        $(document).ready( function () {
            $('#tabelaPdv').DataTable({
                "language": {
                    "url":"https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json",
                },
                "dom": '',
                paging: false ,
                "order": [[ 3, "desc" ]],  
            });
        } );
        let clickado = false
        function test(pagina){
            if(clickado == false){
                $('#form1').attr('action', $('#form1').attr('action') +'?pagina='+parseInt(pagina));
                $('#form1').submit();   
                clickado = true
            }
        }
        function relatorio(){ 
            $('#form1').attr('action', '/movimento_diario/relatorio/');
            $('#form1').submit();   
            $('#form1').attr('action', '/movimento_diario/');
        }
    </script>
{% endblock %}

