{% extends "nav-bar.html" %}
{% block titulo %}
NOVA TRANSAÇÃO
{% endblock %}
{% block nav-bar %}
<!------------------------------------------------------------------------------------------------------------>
    <!-- content @s -->
    <div class="row my-row">
        <div class="col-12 container-create-partida row justify-content-center">
            <div class="row safari-container card justify-content-start card-criar-partida col-sm-12 col-md-8 col-lg-8">
                <div class="alert alert-fill alert-secondary alert-icon header-modal crud-bar-user-header">
                    <em class="icon ni ni-plus"></em>
                    <h6>Criar Partida</h6>
                </div>
                <form id="form_partida" class="row form-group justify-content-start form-create-partida" action="" method="post">
                    {% csrf_token %}
                    {{ form.usuario_id }}
                    <div class="card-body col-12">
                        <div class="blockquote mb-0 row">
                            <div class="col-sm-6 text-comprovante">
                                <h6>Saldo Disponível</h6>
                                <p>{{ saldo_disponivel }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 row parte-1">
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.destinatario }}
                                    <label class="form-label-outlined" for="{{ id_destinatario }}">Destinatario</label>
                                </div>
                                {% if form.destinatario.errors %}
                                    <div class="error-campo">
                                        {{ form.destinatario.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.valor }}
                                    <label class="form-label-outlined" for="{{ id_valor }}">Valor</label>
                                </div>
                                {% if form.valor.errors %}
                                    <div class="error-campo">
                                        {{ form.valor.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.senha_origem }}
                                    <label class="form-label-outlined" for="{{ id_senha_origem }}">Senha Origem</label>
                                </div>
                                {% if form.senha_origem.errors %}
                                    <div class="error-campo">
                                        {{ form.senha_origem.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-12 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.descricao }}
                                    <label class="form-label-outlined" for="{{ id_descricao }}">Descrição</label>
                                </div>
                                {% if form.descricao.errors %}
                                    <div class="error-campo">
                                        {{ form.descricao.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 row container-btn-createPartida">
                        <div class="form-group button-partida">
                            <div class="form-control-wrap">
                                <a href="/transacoes/" class="btn btn-danger btn-create-secondary">
                                    <em class="icon ni ni-chevron-left-round-fill icon-right"></em>
                                    <p>Voltar</p>
                                </a>
                            </div>
                        </div>

                        <div class="form-group button-partida">
                            <div class="form-control-wrap">
                                <button id="btn-save" class="btn btn-success btn-create-secondary" data-toggle="modal" data-target="#modalSalvar">
                                    <p>Salvar</p>
                                    <em class="icon ni ni-save-fill icon-left"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
<!-- content @e -->
<!------------------------------------------------------------------------------------------------------------>

<script>

    $(function sumir() {
        var modal = $('#modal-content');
        modal.css("display","block");

        var parte1 = $('#parte-1');
        parte1.css("display","flex");

        var parte2 = $('#parte-2');
        parte2.css("display","none");
    })
    
    $(function() {
        let valid_destinatario = {% if form.destinatario.errors %} false {% else %} true {% endif %}
        if (valid_destinatario == false) {
            let value = $('#id_destinatario');
            value.addClass('is-invalid');
        }
    });

    $(function() {
        let valid_valor = {% if form.valor.errors %} false {% else %} true {% endif %}
        if (valid_valor == false) {
            let value = $('#id_valor');
            value.addClass('is-invalid');
        }
    });

    $(function() {
        let valid_senha_origem = {% if form.senha_origem.errors %} false {% else %} true {% endif %}
        if (valid_senha_origem == false) {
            let value = $('#id_senha_origem');
            value.addClass('is-invalid');
            
            let parte2 = $('#parte-2');
            parte2.css("display","flex");
        }
    });

    $(function() {
        let valid_senha_destino = {% if form.senha_destino.errors %} false {% else %} true {% endif %}
        if (valid_senha_destino == false) {
            let value = $('#id_senha_destino');
            value.addClass('is-invalid');

            let parte2 = $('#parte-2');
            parte2.css("display","flex");
        }
    });

    function proximo() {
        var btnSalvar = $('#btn-save');
        btnSalvar.css("display","flex");

        var btnPrevious = $('btn-previous');
        btnPrevious.css("display",'flex');

        var btnProximo = $('#btn-next');
        btnProximo.css("display","none");

        var parte2 = $('.parte-1');
        parte2.css("display","none");

        var parte2 = $('.parte-2');
        parte2.css("display","flex");
    }

    function anterior() {
        var btnSalvar = $('#btn-save');
        btnSalvar.css("display","none");

        var btnPrevious = $('btn-previous');
        btnPrevious.css("display",'none');

        var btnProximo = $('#btn-next');
        btnProximo.css("display","flex");

        var parte2 = $('.parte-1');
        parte2.css("display","flex");

        var parte2 = $('.parte-2');
        parte2.css("display","none");
    }
</script>


{% endblock %}