'{% extends "index.html" %}
{% block titulo %}
EDITAR PARTIDA
{% endblock %}
{% load l10n %}
{% block nav-bar %}
<!------------------------------------------------------------------------------------------------------------>
    <!-- content @s -->
        <div class="row my-row">
            <div class="col-12 container-create-partida">
                <div class="row safari-container card justify-content-start card-criar-partida">
                        <div class="alert alert-fill alert-secondary alert-icon header-modal crud-bar-user-header">
                            <em class="icon ni ni-plus"></em>
                            <h6>Editar Partida</h6>
                        </div>
                        <form id="form_partida" class="row form-group justify-content-start form-create-partida" action="" method="post">{% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="errors-box container-error container-center">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <div class="form-icon form-icon-right">
                                        <em class="icon ni ni-calendar-alt"></em>
                                    </div>
                                    {{ form.dia_partida }}
                                    <label class="form-label-outlined" for= "{{ form.dia_partida.id_for_label }}">Data da Partida</label>
                                </div>
                                {% if form.dia_partida.errors %}
                                    <div class="error-campo">
                                        {{ form.dia_partida.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.hora_partida }}
                                    <label class="form-label-outlined" for="{{ form.hora_partida.id_for_label }}">Hora da Partida</label>
                                </div>
                                {% if form.hora_partida.errors %}
                                    <div id="error-campo-hora" class="error-campo">
                                        {{ form.hora_partida.errors }}
                                    </div>
                                {% else %}
                                    <div id="error-campo-hora" class="error-campo">
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.tipo_rodada }}
                                </div>
                                {% if form.tipo_rodada.errors %}
                                    <div class="error-campo">
                                        {{ form.tipo_rodada.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.nome_sorteio }}
                                    <label class="form-label-outlined" for="id_nome_sorteio">Nome do Sorteio</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.valor_kuadra }}
                                    <label class="form-label-outlined" for="{{ form.valor_kuadra.id_for_label }}">Kuadra</label>
                                </div>
                                {% if form.valor_kuadra.errors %}
                                    <div class="error-campo">
                                        {{ form.valor_kuadra.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.valor_kina }}
                                    <label class="form-label-outlined" for="{{ form.valor_kina.id_for_label }}">Kina</label>
                                </div>
                                {% if form.valor_kina.errors %}
                                    <div class="error-campo">
                                        {{ form.valor_kina.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 container-input-create">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    {{ form.valor_keno }}
                                    <label class="form-label-outlined" for="{{ form.valor_keno.id_for_label }}">Keno</label>
                                </div>
                                {% if form.valor_keno.errors %}
                                    <div class="error-campo">
                                        {{ form.valor_keno.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 row container-btn-createPartida">
                                <div class="form-group button-partida">
                                <div class="form-control-wrap">
                                    <a href="/partidas/" class="btn btn-danger btn-create-secondary">
                                        <em class="icon ni ni-chevron-left-round-fill icon-right"></em>
                                        <p>Voltar</p>
                                    </a>
                                </div>
                            </div>

                            <div class="form-group button-partida">
                                <div class="form-control-wrap">
                                    <button type="submit" id="verificar" class="btn btn-success btn-create-secondary">
                                        <p>Salvar</p>
                                        <em class="icon ni ni-save-fill icon-left"></em>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Content Code -->
                        
                        <div class="modal fade" tabindex="-1" id="modalDefault" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-display-none" id="display-modal" role="document">
                                <div class="modal-content">
                                    <div class="modal-header row">
                                        <p class="col-sm-6 modal-title">Deseja continuar ?</p>
                                        <p id="dataPartida" class="col-sm-6 data-partida"></p>
                                    </div>

                                    <div class="row modal-body">
                                        <div class="row col-12 card-valor container-padrao padding-zero">
                                            <div class="col-12 text-center title-card-valor"><h6>Valores Padrão</h6></div>
                                            <div id="container-sem-padrao" class="row col-12 content-valor"></div>
                                        </div>
                                        <div class="row col-12 card-valor padding-zero">
                                            <div class="col-12 text-center title-card-valor"><h6>Valores Digitados</h6></div>
                                            <div id="container-padrao" class="row col-12 content-valor"></div>
                                        </div>
                                    </div>

                                    <div class="modal-footer bg-light row justify-content-between footer-modal">
                                        <a href="/partidas/" aria-label="Close" data-toggle="modal" data-target="#modalDefault" class="btn btn-danger btn-create-secondary">voltar</a>
                                        <button class="btn btn-success btn-create-secondary" id="verificar2">Sim</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="row my-row ">
            <div class="col-12 table-create">
                <div class="card card-table table-responsive-xl overflow-auto">
                    <table  id="tabelaPartidas" class="table position-relative table-content">
                        <thead class="thead-dark text-center thead-content">
                          <tr>
                            <th scope="col">Sorteio</th>
                            <th scope="col">Data/Hora</th>
                            <th scope="col">Kuadra</th>
                            <th scope="col">Kina</th>
                            <th scope="col">Keno</th>
                            <th scope="col">Rodada</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody class="text-center tbody-content">
                        {% for p in partidas %}
                          <tr class="">
                            <th scope="row">{{ p.id }}</th>
                            <td class="font-table-2">{{ p.data_partida|date:"SHORT_DATETIME_FORMAT" }}</td>
                            <td>{{ p.valor_kuadra }}</td>
                            <td>{{ p.valor_kina }}</td>
                            <td>{{ p.valor_keno }}</td>
                            <td>{{ p.get_tipo_rodada_display }}</td>
                            <td><em class="icon ni ni-square-fill icon-identificacao 
                                {% if p.data_partida > agora %}
                                icon-aguarde 
                                {% elif p.data_partida < agora and not p.bolas_sorteadas %}
                                icon-cancelado
                                {% else %}
                                icon-confirmado
                                {% endif %}
                                " ></em></td>
                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>

                </div>
            </div>
        </div>
<!-- content @e -->
<!------------------------------------------------------------------------------------------------------------>

<script src="/static/print.js"></script>

{% endblock %}
