{% extends "index.html" %}
{% block titulo %}
PERFIS COMISSÃO
{% endblock %}
{% block nav-bar %}
  <div class="row my-row">
    <div class="col-12">
        <div class="card table-responsive-xl">
            <table class="table">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">Perfil</th>
                        <th scope="col">Comissão</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                {% for perfil in perfis %}
                    <tr>
                        <th>{{ perfil.get_tipo_display|upper }}</th>
                        <td>{{ perfil.taxa_de_comissao }}%</td>
                        <td>
                          <button type="button" class="btn btn-success btn-create-secondary btn-modal" data-toggle="modal" data-target="#modalDefault{{ perfil.id }}">
                              <em class="icon ni ni-pen-fill"></em>
                              Alterar comissão
                          </button>
                          <!-------------------------modal------------------------->
                            <div class="modal fade" tabindex="-1" id="modalDefault{{ perfil.id }}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" id="modal-content{{ perfil.id }}">
                                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                            <em class="icon ni ni-cross"></em>
                                        </a>
                                        
                                        <div class="alert alert-fill alert-success alert-icon header-modal">
                                            <em class="icon ni ni-alert-circle"></em>
                                            <h6>Comissão do {{ perfil.get_tipo_display|upper }}</h6>
                                        </div>
                                        
                                        <form method="post" class="row justify-content-center form-modal-bottom">
                                            {% csrf_token %}
                                            <input type="hidden" id="perfil" name="perfil" value="{{ perfil.id }}">
                                            <div class="col-lg-8 col-sm-8 container-input-create">
                                                <h6>Valor atual: {{ perfil.taxa_de_comissao }}%</h6>
                                        </div>
                                        <div class="row justify-content-center col-12 container-inputs-comissao">
                                            <div class="col-lg-8 col-sm-8 container-input-create">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                    <input type="number" step="0.01" id="comissao" name="comissao" class="form-control form-control-lg form-control-outlined">
                                                    <label class="form-label-outlined" for="comissao">Nova Comissão</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="modal-footer col-12 modal-footer-comissao">
                                            <div class="row justify-content-between form-group">
                                                
                                                <div class="form-control-wrap">
                                                    <button type="submit"  class="btn btn-success">Salvar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>

                </tbody>
              </table>

        </div>
    </div>
</div>
<!-------------------------------------------------------------------------------------------->


<script>
  $(function () {
    let modal = $('#modal-content')
    modal.css('display','flex')
  })
</script>

  
{% endblock %}