{% extends "index.html" %}
{% load l10n %}
{% block titulo %}
INFORMAÇÕES DAS PARTIDAS
{% endblock %}
{% block nav-bar %}
<!------------------------------------------------------------------------------------------------------------> 
<div>
    <div class="row my-row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-home icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">Total PDVs</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos" id="pos_total">0</h6>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-thumbs-up icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">PDVs On-line</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-online" id="pos_online">0</h6>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos">Doações</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos" id="doacoes">0</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card cards-status">
                <div class="row text-center">
                    <em class="icon ni ni-sign-mxn icon-card color-card-pos"></em>
                    <h6 class="title-card color-card-pos" onclick="openwindow('http://localhost:8000/realtime_data/')">Ultimo Minuto(Doações)</h6>
                </div>
                <div class="row">
                    <h6 class="col-12 text-right subtitle-card color-card-pos" id="doacoes_min">0</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-row">
    <div class="col-12">
        <div class="card card-table table-responsive-xl overflow-auto">
            <table  id="tabelaPartidas" class="table position-relative table-content">
                <thead class="thead-dark text-center thead-content">
                    <tr>
                        <th scope="col">Partida</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Data/hora</th>
                        <th scope="col">Franquias</th>
                        <th scope="col">Doações</th>
                        <th scope="col">Prêmios</th>
                        <th scope="col">Resultado</th>
                        <th scope="col">RTP</th>
                    </tr>
                </thead>
                <tbody class="text-center tbody-content" id='tbody'>

                    <!--
                        body da tabela gerado no javascript abaixo!
                    -->

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function test_time_out( valor ) {
        if (document.getElementById("doacoes_min").textContent === valor){
            document.querySelector("#doacoes_min").innerText = "0.00"
        }
    }
    let timer = setTimeout(test_time_out, 5000,document.querySelector("#doacoes_min").innerText);
    if (window.location.protocol == "https:"){
        socket = new WebSocket('wss://' + location.host + '/ws/dados/realtime/');
    }
    else{
        socket = new WebSocket('ws://' + location.host + '/ws/dados/realtime/');
    }
    socket.onmessage = function(event) {
        data = JSON.parse(event.data)
        console.log(data)
        clearTimeout(timer);
        let doacoes_min = 0
        if (data.total_doacoes || data.total_doacoes == 0){
            document.querySelector("#doacoes").innerText = data.total_doacoes.toFixed(2);
        }
        if (data.doacoes_min || data.doacoes_min == 0){
            document.querySelector("#doacoes_min").innerText = data.doacoes_min.toFixed(2);
            doacoes_min = data.doacoes_min
        }
        {% comment %} if (data.total_telas || data.total_telas == 0){
            document.querySelector('#total_telas').innerText = data.total_telas;
        }
        if (data.tvs_online || data.tvs_online == 0){
            document.querySelector('#telas_online').innerText = data.tvs_online;
        } {% endcomment %}
        if (data.pos_online || data.pos_online == 0){
            document.querySelector('#pos_online').innerText = data.pos_online;
        }
        if (data.pos_total || data.pos_total == 0){
            document.querySelector('#pos_total').innerText = data.pos_total;
        }
        if (data.partidas){
            var html = ""
            data.partidas.partidas.forEach(partida => {
                html += "<tr class=''>";
                html += "<td>"+partida.partida+"</td>";
                html += "<td>"+partida.tipo+"</td>";
                html += "<td>"+partida.data_partida+"</td>";
                html += "<td>"+partida.franquias+"</td>";
                html += "<td>"+partida.doacoes.toFixed(2)+"</td>";
                html += "<td>"+partida.premios.toFixed(2)+"</td>";
                html += "<td>"+partida.resultado.toFixed(2)+"</td>";
                html += "<td>"+partida.rtp.toFixed(2)+"%</td>";
                html += "</tr>";
            });
            document.querySelector('#tbody').innerHTML = html
        }
        timer = setTimeout(test_time_out, 60000,doacoes_min.toFixed(2));
        
    }
</script>

{% endblock %}