{% extends "index.html" %}
{% block titulo %}
ROTAS
{% endblock %}
{% block nav-bar %}          
<!-- CRIAÇÃO DE ROTAS-->
{% if request.session.perfil_max < 3  or primeiro_acesso %}
<div class="row">
    <div class="col-lg-12">
        <div class="card crud-bar">
            <div class="row justify-content-center align-items-center form-group">
                <div class="col-12 row justify-content-end">
                    <a class="btn btn-lg text-right btn-success btn-create" data-toggle="modal" data-target="#modal-equipamento">
                        <em class="icon ni ni-plus"></em>
                        <p>Criar Nova Rota</p>
                    </a>
                    <div class="modal fade" tabindex="-1" id="modal-equipamento">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                    <em class="icon ni ni-cross"></em>
                                </a>

                                <div class="alert alert-fill alert-secondary alert-icon header-modal">
                                    <em class="icon ni ni-pen-fill"></em>
                                    <h6>Adicionar Rota</h6>
                                </div>

                                <form class="modal-body" method="post" id="form1">{% csrf_token %}

                                    <div class="form-group" action="" method="post">
                                        <div class="row container-form-modal">

                                            <div class="col-lg-12 col-sm-12 container-input-create">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        {{ form.referencia }}
                                                        <label class="form-label-outlined" for="id_referencia">Nome</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group" action="" method="post">
                                        <div class="row container-form-modal">

                                            <div class="col-lg-12 col-sm-12 container-input-create">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        {{ form.localizacao }}
                                                        <label class="form-label-outlined" for="id_localizacao">Localização</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class=" row justify-content-end col-12 container-input-create">
                                        <div class="form-control-wrap">
                                            <button type="submit" form='form1' class="col-12 col-sm-12 col-md-12 col-lg-12 btn btn-lg btn-primary btn-search btn-success">
                                                salvar
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-------------------------------tabela de generica de franquias------------------------------->

{% if not primeiro_acesso %}

<!-------------------------------tabela de generica de franquias-------------------------------->
<div class="row my-row">
    <div class="col-12">
        <div class="card table-margin table-responsive-xl">
            <table id="tabelaRotas" class="table">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">Região</th>
                        <th scope="col">#</th>
                        <th scope="col">Referência</th>
                        <th scope="col">Localização</th>
                        <th scope="col">Status</th>
                        <th scope="col">Dono atual</th>
                        {% if request.session.perfil_max < 3 %}
                        <th scope="col"></th>
                        {% if usuarios %}
                        <th scope="col">Alterar dono para</th>
                        {% endif %}
                        {% endif %}
                        {% if request.session.perfil_max < 3 %}
                        <th scope="col">Resetar Senha</th>
                        {% endif %}
                        {% if request.session.perfil_max < 3 %}
                        <th scope="col">Telas</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for f in franquias %}
                <tr>
                    <td>{{ f }}</td>
                    <th scope="row">{{ f.id }}</th>
                    <td>{{ f.referencia }}</td>
                    <td>{{ f.localizacao }}</td>
                    <td>
                            {% if f.ativo %}
                            <a href="/rota/{{ f.id }}/status/" onclick="return confirm('Desativar a rota também desativará todas as gerencias, estabelecimentos, pontos de arrecadação, tvs e POS ligados a essa rota. Deseja continuar?');">
                                <button class="btn btn-danger btn-create-icon">
                                    <em class="icon ni ni-cross-circle-fill"></em>
                                    <p class="text-center btn-text" style="">DESATIVAR</p>
                                </button>
                            </a>
                            {% else %}
                            <a href="/rota/{{ f.id }}/status/" class="btn btn-success btn-create-secondary">
                                <p style="color:white;">ATIVAR</p>
                            </a>
                            {% endif %}
                        </td>
                    <td>{% if f.dono %}{{ f.dono }}{% endif %}</td>
                    {% if request.session.perfil_max < 3 %}
                    <td>
                            {% if f.dono %}
                            <a href="/rota/{{ f.id }}/desvincular/" class="btn btn-danger btn-create-icon">
                                <em class="icon ni ni-cross-circle-fill btn-create-icon-text"></em>
                                <p>Desvincular</p>
                            </a>
                            {% endif %}
                        </td>
                    {% if usuarios %}
                    <td>

                        <form method="post">{% csrf_token %}
                            <select class="form-control form-select-sm form-control-outlined" name="novodono" onchange="this.form.submit();">
                                <option value="" selected></option>
                                {% for u in usuarios %}
                                <option value="{{ f.id }},{{ u.id }}">{{ u.usuario.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </form>

                    </td>

                    {% endif %}
                    {% endif %}
                    {% if request.session.perfil_max < 3 %}
                        <td>
                            <form method="get" class="form-group row form-reset-senha" action="/resetar/{{ f.id }}/" onsubmit='return confirm("Deseja resetar as senhas da rota {{ f }}?")'>
                                <input type="text" id="senha" name="senha" placeholder="Resetar senha" class="form-control form-control-outlined col-8"/>
                                <button type="submit" class="btn btn-primary btn-search btn-success col-4 p-0">
                                    Resetar
                                </button>
                                <!--<input type="submit" value="Resetar">-->
                            </form>
                        </td>
                    {% endif %}
                    {% if request.session.perfil_max < 3 %}
                    {% for franquia, status in status_telas.items %}
                        {% if franquia == f.id %}
                        <td>
                           {% if status %}
                            <a onclick="return confirm('Deseja confirmar o desbloqueio das telas?')" href="/travar/{{f.id}}/0/ " class="btn btn-success btn-create-icon">
                                <em class="icon ni ni-cross-circle-fill btn-create-icon-text"></em>
                                <p>Desbloquear</p>
                            </a>
                            {% else %}
                            <a onclick="return confirm('Deseja confirmar o bloqueio das telas?')" href="/travar/{{f.id}}/1/" class="btn btn-danger btn-create-icon">
                                <em class="icon ni ni-cross-circle-fill btn-create-icon-text"></em>
                                <p>Bloquear</p>
                            </a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
                {% endfor %}

                </tbody>
                </table>

        </div>
    </div>
</div>

<!-------------------------------tabela de generica de usuarios candidatos a franquiadores-------------------------------->
<div class="row my-row">
    <div class="col-12">
        <div class="card table-responsive-xl">
            <table id='tabelaCandidato' class="table">
                <!--<thead class="">
                </thead>-->
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col" colspan="6"><h6 style="color:white;"  >Candidatos a Donos de franquia</h6></th>
                    </tr>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Login</th>
                    <th scope="col">Perfis</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                {% for u in usuarios %}
                <tr>
                    <th scope="row">{{ u.id }}</th>
                    <td>{{ u.usuario.get_full_name }}</td>
                    <td>{{ u.usuario.username }}</td>
                    <td>{{ u.perfis.all|join:", " }}</td>
                </tr>
                {% endfor %}

                </tbody>
                </table>

        </div>
    </div>
</div>
<!-------------------------------------------------------------------------------------------->
{% endif %}
    
<script>
    $(document).ready( function () {
        $('#tabelaRotas').DataTable({
            "language": {
                "url":"https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json",
            },
            "dom": '',
            columnDefs: [
                { orderable: false, targets: [5,7,8] }
            ],  
            paging: false,
        });
        $('#tabelaCandidato').DataTable({
            "language": {
                "url":"https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json",
            },
            "dom": '',
            paging: false,
        });
    } );
</script>
{% endblock %}}