.title-bolas{
    font-size: 1.4rem !important;
}

.content-bolas-sorteadas{
    width: calc(100% * 1/5);

    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.bolas-sorteadas{
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    color: #0D1C4D;

    border: solid 6px #0D1C4D;
    /* box-shadow: #0D1C4D 0px 0px 0px 4px; */

    border-radius: 50%;
    font-weight: bold;
    font-size: 0.9rem;
}


@media(min-width:600px) {
    .content-bolas-sorteadas{
        width: calc(100% * 1/6);
    }
}

@media(min-width:1000px) {
    .content-bolas-sorteadas{
        width: calc(100% * 1/8);
    }
}